# To ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd
# To ignore virtual environment directories
venv/
env/
# To ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# To ignore log files
*.log
# To ignore temporary files
*.tmp
*.temp
# To ignore claude files
claude/
claude.md 
# To ignore template 
problems/problem_template.py